BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "RESET_N" SITE "N3" ;
IOBUF PORT "RESET_N" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
LOCATE COMP "SDA" SITE "D1" ;
LOCATE COMP "SCL" SITE "C2" ;
IOBUF PORT "SCL" IO_TYPE=LVCMOS33 PULLMODE=UP OPENDRAIN=OFF CLAMP=ON SLEWRATE=NA ;
IOBUF PORT "SDA" IO_TYPE=LVCMOS33 PULLMODE=NONE OPENDRAIN=ON ;
